.landing {
  background-image: url(../assets/images/sun-background-wswc6a2k1df2jni4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
